extends layout

block content
  h1= title

  p #{hot}
  p#domain

  h1 Akses JWT
  ul
    li generate token "/auth/:user/:pass"
    li check route "/me"
    li passing token with key name "token" on header or query
    li headers['token'] or ?token=

  p Footer Sukses

  script.
    var dom = window.location.origin;
    document.getElementById('domain').innerHTML = dom;
